.photo-page-container {
	text-align: center;
	margin: 50px auto 300px;
	position: relative;
}
.photo-page-container .photo-loading{
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
.primary-photo {
	opacity: 0;
	width: calc(100vw - 20px);
	transition: opacity 0.5s;
	display: inline-block;
	margin: 10px auto;
}
.primary-photo.show {
	opacity: 1;
	transition: opacity 0.5s
}
@media (min-width: 1024px) {
	.primary-photo {
		opacity: 0;
		width: auto;
		transition: opacity 0.5s;
		display: inline-block;
		margin: 10px auto;
	}
}